/*form*/

$form-label-width: 95px !default;

.form-bd {
  @extend .bd;
  padding-top: 10px;
}
.form-ft {
  padding: 3px 0 4px;
  border-top: 1px solid #b5b8c8;
  text-align: center;
}

.form-item {
  @include clearfix;
  padding: 0 5px 10px $form-label-width;
}
.form-label {
  display: inline-block;
  width: $form-label-width;
  margin-left: - $form-label-width;
  text-align: right;
}
.form-required {
  font-weight: bold;
  color: red;
}
.form-explain {
  padding: 3px 0 0 3px;
  color: #999;
}

textarea,
.input {
  padding: 1px 3px;
  border: 1px solid #b5b8c8;
  background: #fff url('../images/text-bg.gif') repeat-x 0 0;
}

textarea:focus,
.input:focus {
  border-color: #7eadd9;
  outline: none;
}

.form-item-error {
  .input, textarea {
    border:1px solid #cc3300;
    background: #fff url('../images/invalid_line.gif') repeat-x bottom;
  }
  .form-explain {
    padding-left: 20px;
    color: #ff5243;
    background: url('../images/exclamation.gif') no-repeat 0 2px;
  }
}

.input {
  //firefox默认高度过大
  height: 15px;
}

@for $i from 2 through 12 {
  .form-bd .span#{$i} .input {
    width: #{20 + 80 * ($i - 2) }px;
  }
}

input {
  vertical-align:middle;
  //IE6下高度有点大
  _height:13px;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

fieldset {
  margin: 10px;
  border: 1px solid #b5b8c8;
}
fieldset legend {
  padding: 0 3px 1px;
  color: #15428b;
}

/*form trigger*/
@mixin icon-form-trigger($background){
  @include icon($background, 17px, 18px);
  border-bottom: 1px solid #b5b8c8;
  cursor: pointer;

  &:hover {
    border-bottom-color: #7eadd9;
    background-position: -17px 0;
  }
}
.icon-form-trigger {
  @include icon-form-trigger(url('../images/trigger.gif'));
}
.icon-form-date-trigger {
  @include icon-form-trigger(url('../images/date-trigger.gif'));
}
.icon-form-clear-trigger {
  @include icon-form-trigger(url('../images/clear-trigger.gif'));
}
.icon-form-search-trigger {
  @include icon-form-trigger(url('../images/search-trigger.gif'));
}
.icon-form-spinner-trigger {
  @include icon-form-trigger(url('../images/spinner-small.gif'));
}

/*btn*/
.btn {
  width: 60px;
  height: 22px;
  margin: 2px;

  @include radius(3px);
  @include gradient(#f5f5f5, top, #fff, #f9f9f9 48%, #e2e2e2 52%, #e7e7e7);
  border: 1px solid #d1d1d1;
  cursor: pointer;

  &:hover {
    border-color: #b0ccf2;
    @include gradient(#c6dcf6, top, #e4f3ff, #d9edff 48%, #c2d8f2 52%, #c6dcf6);
  }
  &:active {
    @extend .btn-is-pressed;
  }

  &.disabled{
    &:hover, &:active {
      @include gradient(#99bce8, top, #fff, #f9f9f9 48%, #e2e2e2 52%, #e7e7e7);
      border: 1px solid #d1d1d1;
    }
  }
}
.btn-is-pressed {
  border-color: #9ebae1;
  @include gradient(#49afcd, top, #b6cbe4, #bfd2e6 48%, #8dc0f5 52%, #98c5f5);

  &:hover {
    @extend .btn-is-pressed;
  }
}
